@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

article {
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem;
}

button {
  margin: 1rem 1rem 0.5rem;
  font: inherit;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.5rem;
}

img {
    width: 200px;
    border: 0.5rem double #000;
    border-radius: 50%;
    margin: 0 1rem 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #50C2C9;
}

.container {
  height:50%;
  width:50%;
  object-fit: contain;
}

.generate {
  color: white;
  background-color: #50C2C9;
  font: inherit;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 10rem;
  border-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.onboard {
  color: #50C2C9;
  text-align: center;
  font-size: 60px;
}

.guyalogo{
  border: 0.1rem;
  border-radius: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidenote{
  font-size: small;
  font-style: italic;
}

.automate{
  font-size:20px;
  background-color: aliceblue;
  font-style: inherit;
  text-align: center;
}

tag{
  font-style:oblique;
  color:darkblue;
  background-color:whitesmoke;
  font-size: larger;
}

h3{
  text-align: center;
}

.container2{
  height:30%;
  width:30%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  text-align: center;
}

.figure{
  text-align: center;
}

span{
  font-size:50px;
  color:purple;
}